h2 {
  position: relative;
  color: white;
  padding: 10px 20px;
  background-color: #2A2A2A; /* Color más oscuro */
  border-radius: 30px; /* Bordes redondeados */
  margin: 20px 0; /* Margen para separar de otros elementos */
  display: inline-block; /* Asegura que el fondo solo cubra el contenido del h2 */
}

.app {
  display: flex;
  flex-direction: row;
  background: #0C090B;
  margin: 0;
  padding-bottom: 60px;
  padding: 20px;
  align-items: center;
}

.sidebar-open ~ .main {
  margin-left: 300px;
}

.main {
  margin-left: 100px;
  transition: margin-left 0.3s ease;
  flex: 1;
}

.sidebar,
.listen-again,
.song-list,
.quick-picks,
.recommended-albums,
.album-list,
.similar-artist,
.artist-list {
  margin: 100px;
  color: white;
}

.listen-again {
  font-family: Arial;
  font-size: medium;
  display: flex;
  padding: 20px;
}

.song-list,
.quick-picks,
.recommended-albums,
.album-list,
.similar-artist,
.artist-list {
  margin-right: 20px;
  min-width: 150px;
}