.app{
  background-color: #0C090B;
  margin: 0;
  padding-bottom: 60px;
  padding: 20px;
  align-items: center;
}

h2{
  margin-left: 20px;
}



.listen-again{
  color: white;
  font-family: Arial;
  font-size: medium;
  padding: auto;
  display: flex;
  padding: 20px;
}


.song-list{
  color: white;
}


.quick-picks{
  margin-right: 20px;
  min-width: 150px;

}

.recommended-albums{
  margin-right: 20px;
  min-width: 150px;
}

.album-list{
  margin-right: 20px;
  min-width: 150px;
}

.similar-artist{
  margin-right: 20px;
  min-width: 150px;
}

.artist-list{
  margin-right: 20px;
  min-width: 150px;
}