.app{
  display: flex;
  flex-direction: row;
  background: #0C090B;
  margin: 0;
  padding-bottom: 60px;
  padding: 20px;
  align-items: center;
}

.sidebar-open ~ .main{
  margin-left: 300px; 
}

.main{
  margin-left: 100px; 
  transition: margin-left 0.3s ease; 
  flex: 1;
}

h2{
  right: 100px;
  color: white;
  margin-left: 20px;
}

.sidebar{
  margin: 100px;
}

.listen-again{
  margin: 100px;
  color: white;
  font-family: Arial;
  font-size: medium;
  padding: auto;
  display: flex;
  padding: 20px;
}


.song-list{
  margin: 100px;
  color: white;
}


.quick-picks{
  margin: 100px;
  color: white;
  margin-right: 20px;
  min-width: 150px;

}

.recommended-albums{
  margin: 100px;
  color: white;
  margin-right: 20px;
  min-width: 150px;
}

.album-list{
  margin: 100px;
  color: white;
  margin-right: 20px;
  min-width: 150px;
}

.similar-artist{
  margin: 100px;
  color: white;
  margin-right: 20px;
  min-width: 150px;
}

.artist-list{
  margin: 100px;
  color: white;
  margin-right: 20px;
  min-width: 150px;
}